body{
  background-color: #f6f6f6;
  color: #085f63;
}
hr{
border-style: dotted none none;
border-color: #bdf2d5;
width: 100px;
border-width: 10px;

}
img{
height: 200px;
}
h3{
  color: #5d13e7
}
h2{
  color: #5d13e7
}
